- name: Wait for SSH to be up
  wait_for:
    host: "{{ item.public_dns_name }}"
    port: 22
    delay: 5
    timeout: 300
    state: started
  with_items: "{{ ec2.instances }}"

- pause:
    seconds: 15
