- name: Make DockerHub config directory
  file:
    path: /home/core/.docker
    state: directory
    mode: 0755

- name: Copy DockerHub config file
  copy:
    content: "{{ DockerHubCredsFile }}"
    dest: "/home/core/.docker/config.json"
    mode: 0600

- name: Make ssl directory
  file:
    path: /home/core/ssl
    state: directory
    mode: 0755

- name: Copy ssl CRT File 
  copy:
    content: "{{ AGR_WEB_CRT_FILE }}"
    dest: "/home/core/ssl/agr.crt"
    mode: 0600

- name: Copy ssl KEY File 
  copy:
    content: "{{ AGR_WEB_KEY_FILE }}"
    dest: "/home/core/ssl/agr.key"
    mode: 0600

- name: Copy CA file
  copy:
    content: ca-certs.pem
    dest: "/home/core/ssl/ca-certs.pem"
    mode: 0600

- name: Create a docker network
  docker_network:
    name: "{{ NET }}"

- name: Set Max open files 
  sysctl:
    name: vm.max_map_count
    value: '262144'
    sysctl_set: yes
    state: present
    reload: yes
  become: true
  become_user: root

- name: Turn off locksmithd
  service:
    name: locksmithd
    state: stopped
  become: true
  become_user: root
