global:
  resolve_timeout: 1m
  slack_api_url: '{{ SLACK_ALERT_WEBHOOK_TEST }}'

route:
  # Default receiver
  receiver: 'slack-warnings'
  routes:
  - receiver: 'slack-warnings'
    continue: true
    match_re:
      severity: warning
  - receiver: 'slack-alerts'
    continue: true
    match_re:
      severity: critical
  - receiver: 'sns-notifications'
    matchers:
      - alertname = EndpointDown

receivers:
- name: 'slack-warnings'
  slack_configs:
  - channel: '#system-warnings'
    send_resolved: true
    icon_url: https://avatars3.githubusercontent.com/u/3380462
#    text: "summary: {% raw %}{{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}{% endraw %}"
    {% raw %}
    title: |-
     [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} for {{ .CommonLabels.job }}
     {{- if gt (len .CommonLabels) (len .GroupLabels) -}}
       {{" "}}(
       {{- with .CommonLabels.Remove .GroupLabels.Names }}
         {{- range $index, $label := .SortedPairs -}}
           {{ if $index }}, {{ end }}
           {{- $label.Name }}="{{ $label.Value -}}"
         {{- end }}
       {{- end -}}
       )
     {{- end }}
    text: >-
     {{ range .Alerts -}}
     *Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}

     *Description:* {{ .Annotations.description }}

     *Details:*
       {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
       {{ end }}
     {{ end }}
     {% endraw %}

- name: 'slack-alerts'
  slack_configs:
  - channel: '#system-alerts'
    send_resolved: true
    icon_url: https://avatars3.githubusercontent.com/u/3380462
#    text: "summary: {% raw %}{{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}{% endraw %}"
    {% raw %}
    title: |-
     [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} for {{ .CommonLabels.job }}
     {{- if gt (len .CommonLabels) (len .GroupLabels) -}}
       {{" "}}(
       {{- with .CommonLabels.Remove .GroupLabels.Names }}
         {{- range $index, $label := .SortedPairs -}}
           {{ if $index }}, {{ end }}
           {{- $label.Name }}="{{ $label.Value -}}"
         {{- end }}
       {{- end -}}
       )
     {{- end }}
    text: >-
     {{ range .Alerts -}}
     *Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}

     *Description:* {{ .Annotations.description }}

     *Details:*
       {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
       {{ end }}
     {{ end }}
     {% endraw %}

- name: 'sns-notifications' 
  sns_configs:
    - send_resolved: false
      topic_arn: {{ SNS_TOPIC_ARN }}
      subject: ES_EndPoint_Down
      sigv4:
        region: us-east-1
        access_key: {{ AWS_ACCESS_KEY}}
        secret_key: {{ AWS_SECRET_KEY }}
      api_url: https://sns.us-east-1.amazonaws.com
    